* {
    box-sizing: border-box;
    align-items: center;
    text-align: center;
  }
  
body {
    font-family: 'Roboto', sans-serif;
}
  
button, label {
    font-size: 24px;
}

/* Added some button formatting */
button {
    width: 240px;
    color: white;
    background-color: black;
    font-size: 24px;

}

button, select {
    height: 100px;
    font-style: bold;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    border: 5px solid black;
    border-radius: 5px;
}

img {
    display: block;
    max-width: 800px;
    /* align: center; */
    margin: auto;
}

label {
    display: block;
    font-size: 2em;
    padding: 20px 0px 20px 0px;
}

select {
    width: 80px;
    color: black;
    background-color: white;
    margin: 0px 0px 20px 0px;
    font-size: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}
  
.hidden {
    display: none;
}

@media screen and (max-width: 500px) {
    img {
        width: 100%;
    }
}